{% extends "layouts.html" %}

{% block title %}
Tweetverse Blog - Search Results
{% endblock title %}

{% block content %}
<h1>Tweets</h1>

{% if query %}
    <h2>Search Results for "{{ query }}"</h2>
{% endif %}

{% if tweets %}
    <div class="container row gap-3">
        {% for tweet in tweets %}
        <div class="card" style="width: 18rem;">
            {% if tweet.photo %}
                <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ tweet.user.username }}</h5>
                <p class="card-text">{{ tweet.text }}</p>
                <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <p>No tweets found matching your search query.</p>
{% endif %}

{% endblock content %}
